.text_provisional{
    width: 500px;
    margin: auto;
    text-align: center;
}

.explicació{
    background: #65a2e7;
    padding: 10px;
}

p{
    font-family: 'Montserrat';
    margin-top: 40px;
}

span{
    font-family: 'Tenor Sans';
    font-weight: 600;
}

h3{
    font-family: 'Tenor Sans';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}